html {
    font-family: 'Abel', sans-serif;
}

body {
    background-color: #EDEEEF;
}

.header {
    font-family: 'Supermercado One', cursive;
    font-size: 1em;
    padding: 0.5em;

    h1 {
        margin-top: 0;
        margin-bottom: 0;

    }
}

.collapsible {

    #collapse-header {
        background-color: #496E99;
        height: 5em;

        #toggle-icon {
            margin-left: 1em;
            font-size: 4em;
            text-align: right;
        }
    }
}

form {
    background-color: #fff;

    #image-url {
        font-size: 1.5em;
    }

    #image-url-text {
        padding-left: 5px;
    }

    #textarea2 {
        font-size: 1.5em;
    }

    #image-caption-text {
        padding-bottom: 5px;
        padding-left: 5px;
    }

    #cancel-button {
        // margin-left: 20em;
        // margin-bottom: 10px;
    }

    #submit-button {
        // margin-left: -5px;
        // margin-bottom: 10px;

    }
}

#gallery {
    font-size: 1.75em;
}
